.aboutSection {
  display: flex;
  //justify-content: flex-start;
  margin-top: 6rem;

  @include sp {
    display: block;
  }
}

.aboutSection__imgWrapper {
  flex-grow: 0; /* 伸長の制限 */
  flex-shrink: 0; /* 縮小の制限 */
  flex-basis: 45%; /* 幅の初期値 */

  img {
    width: 100%;
    height: auto;
  }
}

.aboutSection__textContainer {
  flex-grow: 0; /* 伸長の制限 */
  flex-shrink: 0; /* 縮小の制限 */
  flex-basis: 55%; /* 幅の初期値 */
  padding-left: 4vw; /* 画像とテキストの間隔を設定 */

  @include sp {
    margin: 3rem 0 0 0;
  }
}

.aboutSection__title {
  @include topSectiontitle-h2;
}

.aboutSection__text {
  margin-top: 3.2rem;
  font-size: 1.6rem;
  line-height: 3.2rem;

  @include tb {
    margin-top: 3rem;
    font-size: 1.4rem;
  }
}

.aboutSection__readMore {
  margin-top: 3.2rem;
  text-align: right;
}
