.aboutTitleContainer {
  color: #001e63;
}

.aboutTitleContainer__titleEn {
  color: #d00000;
  @include en(700);
  font-size: 1.3rem;

  @include sp {
    font-size: 1rem;
  }
}

.mainTitleContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.aboutTitleContainer__titleJp {
  margin-top: 1rem;
  @include jp(700);
  font-size: 3.2rem;
  font-weight: bold;

  @include sp {
    font-size: 1.8rem;
  }
}

.decorativeLine {
  width: 6rem;
  padding-top: 3rem;
  border-bottom: #001e63 solid 1px;
  // border-bottom: #E6CD92 solid 1px;
  margin-left: 1.5rem;
}
