.aboutSection {
  display: flex;
  margin-top: 6rem;

  @include sp {
    display: block;
  }
}

.aboutSection__imgWrapper {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 45%;
  img {
    width: 100%;
    height: auto;
  }
}

.aboutSection__textContainer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 55%;
  padding-left: 4vw;

  @include sp {
    margin: 3rem 0 0 0;
  }
}

.aboutSection__title {
  @include topSectiontitle-h2;
}

.aboutSection__text {
  margin-top: 3.2rem;
  font-size: 1.6rem;
  line-height: 3.2rem;

  @include tb {
    margin-top: 3rem;
    font-size: 1.4rem;
  }
}

.aboutSection__readMore {
  margin-top: 3.2rem;
  text-align: right;
}
