.accessSection {
  margin-top: 20rem;
  padding-left: 17rem;

  @include sp {
    margin-top: 8rem;
    padding-left: 5%;
  }
}

.accessSection__address {
  margin-top: 1.6rem;
  font-size: 1.6rem;
}

.googleMap {
  height: 40rem;
  margin-top: 6rem;
}
