// .breadCrumbs {
//   font-size: 1.5rem;
//   text-align: right;

//   @include sp {
//     font-size: 1rem;
//   }
// }

// .breadCrumb {
//   margin-top: 1.8rem;
//   display: inline-block;
//   color: #a9a9a9;
//   margin-left: 4rem;
//   position: relative;

//   &::before {
//     content: "";
//     display: block;
//     position: absolute;
//     top: 50%;
//     left: -3rem;
//     width: 2rem;
//     height: 0.2rem;
//     background-color: #a9a9a9;
//   }

//   @include sp {
//     margin-top: 1rem;
//   }
// }

// .breadCrumb.current {
//   color: #242424;
// }

// .breadCrumb:first-child {
//   margin-left: 0;

//   &::before {
//     display: none;
//   }
// }

.breadcrumb {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.8rem;
  text-align: right;
}

.breadcrumb__between {
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background-color: #a9a9a9;
}