.breadcrumb {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.8rem;
  text-align: right;
}

.breadcrumb__between {
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background-color: #a9a9a9;
}