.card {
  width: 30%;
  max-width: 335px;

  @media only screen and (max-width: 960px) {
    width: 100%;
    max-width: none;
  }
}

.card__body {
  margin-top: 3rem;
  margin-bottom: 5rem;
  text-align: right;
}

.card__text {
  font-size: 1.6rem;
  line-height: 3.2rem;
  text-align: left;
  margin-bottom: 3rem;
  @include ellipsisMulti(5,16rem);

  @include tb {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    line-height: 2.2;
    @include ellipsisMulti(5,13rem);
  }
}

.imgWrapper-card {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }


  @media only screen and (max-width: 960px) {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.pictureText {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: calc(100% - 3rem);
  color: #ffffff;
  text-align: left;
  padding: 1.5rem 1.5rem 2.2rem 3rem;
  background:rgba(0,30,99,0.7)  url(../images/pattern2.png);

  @include tb {
    width: 100%;
  }
}

.serviceNumber {
  font-size: 1.6rem;
  font-weight: bold;
}

.serviceName {
  margin-top: 1.6rem;
  font-size: 2.4rem;

  @include tb{
    font-size: 1.8rem;
  }
}
