.card {
  width: 30%;
  max-width: 335px;

  @include sp {
    width: 100%;
    max-width: none;
  }
}

.card__body {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: right;
}

.card__text {
  font-size: 1.6rem;
  line-height: 3.2rem;
  text-align: left;
  margin-bottom: 3rem;
}

.imgWrapper-card {
  position: relative;

  @include sp {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.pictureText {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 3rem);
  height: calc(100% - 5.5rem);
  color: #ffffff;
  text-align: left;
  padding: 5.5rem 0 0 3rem;
}

.serviceNumber {
  font-size: 1.6rem;
  font-weight: bold;
}

.serviceName {
  margin-top: 1.6rem;
  font-size: 2.6rem;
}
