.cardService {
  margin-top: 12rem;
  margin-bottom: 16rem;

  @include sp {
    margin-top: 5.6rem;
    margin-bottom: 0;
  }
}

.cardService__item:not(:first-child) {
  margin-top: 16rem;

  @include sp {
    margin-top: 5.6rem;
  }
}

.cardService__upperContents {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  @include sp {
    flex-direction: column;
  }
}

.cardService__upperContents--reverse {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row-reverse;

  @include sp {
    flex-direction: column;
  }
}

.cardService__header {
  background-color: #f8f8f8;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 10rem 0 11.8%;

  @include sp {
    padding: 3.2rem 2rem 0 2rem;
  }
}

.cardService__no {
  @include en(700);
  color: #e6cd92;
  font-size: 4rem;

  @include sp {
    font-size: 3.2rem;
  }
}

.cardService__title {
  margin-top: 2.8rem;
  font-size: 2.8rem;
  color: #001e63;
  @include jp(600);
  @include sp {
    font-size: 2rem;
  }
}

.cardService__summary {
  margin-top: 2.5rem;
  font-size: 1.8rem;
  line-height: 4rem;

  @include sp {
    font-size: 1.6rem;
    line-height: 2.8;
  }
}

.decoratedLine {
  display: inline-block;
  width: 0.2rem;
  height: 3.4rem;
  background-color: #d00000;
  margin-left: 1.6rem;
  line-height: 3;

  @include sp {
    height: 3rem;
  }
}
.cardService__imgWrapper {
  width: 52.778%;
  max-width: 76rem;

  @include tb {
    width: 40%;
  }

  @include sp {
    width: 100%;
    max-width:none;
    background-color: #f8f8f8;
    padding-top: 2.6rem;
  }
}

.cardService__imgWrapper img {
  width: 100%;
  object-fit: cover;
}

.cardService__lowerContents {
  padding: 3rem 11.8% 0;

  @include sp {
    padding: 1.4rem 0 0 0;
  }
}

.cardService__titleSub {
  @include jp(500);
  font-size: 2.2rem;
  color: #001e63;

  > span {
    font-size: 1.4rem;
    color: #d00000;

    padding-left: 1.6rem;
  }

  @include sp {
    font-size: 1.8rem;

    > span {
      font-size: 1rem;
    }
  }
}

.cardService__featureText {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 2.4;

  @include sp {
    font-size: 1.4rem;
    line-height: 3.2rem;
  }
}
