.footer {
  color: hsl(0, 0%, 100%);
}

.contactMethod {
  border: solid 1px #ffffff;
  padding: 2rem 3.1rem;
  border-radius: 0.4rem;
  max-width: 23.5rem;
  cursor: pointer;

  &:nth-of-type(1) {
    margin-bottom: 2rem;
    @include buttonHoverAnimation;
  }

  &:nth-of-type(2) {
    margin-bottom: 2.4rem;
  }
}

@include sp {
  .contactMethod {
    border: solid 1px #ffffff;
    padding: 2rem 3.1rem;
    border-radius: 0.4rem;
    max-width: 23.5rem;

    &:nth-of-type(1) {
      margin-bottom: 2.5rem;
    }

    &:nth-of-type(2) {
      margin-bottom: 1.2rem;
    }
  }
}

.footer__upperContents {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
  background-color: #011950;
}

@include sp {
  .footer__upperContents {
    display: block;
  }

  .contactMethod {
    margin: auto;
  }
}

.contactMethod__text {
  font-size: 2.2rem;
  margin-left: 1rem;
}

.textContainer {
  margin: auto;
}

.textContainer__lead {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 8.4rem;
  margin-bottom: 2.4rem;
}

@include sp {
  .textContainer {
    padding: 8rem 0;
  }

  .textContainer__lead {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.8rem;
    margin-top: 0;
    margin-bottom: 5rem;
  }

  .officeHours {
    margin-top: 0;
    text-align: center;
    font-size: 1.2rem;
  }
}

.imgWrapper {
  width: 57%;
  height: 44.6rem;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@include sp {
  .imgWrapper {
    width: 100%;
  }
}

.footer__lowerContents {
  background-color: #001135;
  padding: 5.8rem 9.72% 5.6rem 11.9444%;
}

.footer__lowerContentsInner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@include sp {
  .footer__lowerContents {
    padding: 6rem 0 3rem 5rem;
  }

  .footer__lowerContentsInner {
    flex-direction: row;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.footer .logoWrapper {
  @extend %logoWrapper;
  width: 63.55%;

  @include sp {
    width: 11.4rem;
    height: auto;
  }
}

@include sp {
  .logoWrapper {
    z-index: 7;
    max-width: 25.8rem;
    min-width: 11.5rem;

    > img {
      width: 100%;
      height: auto;
    }
  }
}

.snsIconContainer {
  margin-left: 4.6rem;
}

@include sp {
  .snsIconContainer {
    margin-left: 0;
    margin-top: 5rem;
  }
}

.sns-icon-custom::before {
  font-size: 2.2rem;
}

.sns-icon-custom:not(:first-child) {
  margin-left: 1.7rem;
}

.logoIconContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@include sp {
  .logoIconContainer {
    display: block;
  }
}

.leftContents {
  margin-top: 1rem;
}

@include sp {
  .leftContents {
    margin-top: 6rem;
  }
}

.footerNavigation {
  a {
    font-size: 1.6rem;
    @include underlineAnimation(#ffffff, 1px, 0.3s);
  }

  li:not(:first-child) {
    margin-top: 2.3rem;
  }

  @include sp {
    li:not(:first-child) {
      margin-top: 2.8rem;
    }
  }
}

@include sp {
  .footerNavigation {
    a {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}

.copyRight {
  display: inline-block;
  font-size: 1.2rem;
  position: relative;
  top: -2rem;

  @include sp {
    top: 0;
    margin-top: 5.6rem;
  }
}
