.footer {
  color: hsl(0, 0%, 100%);
}

.footer__upperContents {
  padding: 5.6rem 11.8%;
  background: #011950 url("../images/pattern2.png");
}

@include sp {
  .footer__upperContents {
    padding: 3.2rem 5.6vw;
    display: block;
  }
}

.contactMethodLead__title {
  font-size: 2.4rem;
  @include jp(500);

  @include sp {
    font-size: 1.6rem;
  }
}

.contactMethodLead__text {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  @include jp(400);

  @include sp {
    font-size: 1.6rem;
  }
}

.contactMethod__date {
  margin-top: 1.6rem;
  line-height: 1.6;
}

.hours {
  margin-top: 0;
  font-size: 1.6rem;
  line-height: 1.6;
  @include jp(400);
}

.contactMethodWrapper {
  margin-top: 2rem;
  margin-inline: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2.4rem 0 0 0;

  @include sp {
    padding: 3.2rem 0;
    flex-direction: column;
  }
}

.contactMethod--phone {
  font-size: 2.4rem;
  @include en(500);

  @include sp {
    font-size: 1.6rem;
  }
}

.contactMethod--form {
  font-size: 2.8rem;
  border: solid 1px #ffffff;
  padding: 2rem 3.1rem;
  border-radius: 0.4rem;
  margin-left: 6vw;
  cursor: pointer;
  @include buttonHoverAnimation;

  @include sp {
    margin-left: 0;
    margin-top: 3.2rem;
    font-size: 1.8rem;
    display: block;
    border: solid 1px #ffffff;
    padding: 2rem 3.1rem;
    border-radius: 0.4rem;
    max-width: max-content;
  }
}

.contactMethod__text {
  font-size: 1.8rem;
}

.footer__lowerContents {
  background-color: #001135;
  padding: 5.6rem 11.8%;

  @include sp {
    padding: 3.2rem 5.6vw;
  }
}

.footer__lowerContentsInner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @include sp {
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.leftContents {
  margin-top: 1rem;

  @include sp {
    width: 100%;
    margin-top: 3.2rem;
  }
}

.logoIconContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include sp {
    justify-content: space-between;
    align-items: flex-start;
  }
}

.footer .logoWrapper {
  @extend %logoWrapper;
  width: 40%;

  @include sp {
    width: 11.4rem;
    height: auto;
  }
}

@include sp {
  .logoWrapper {
    z-index: 7;
    max-width: 25.8rem;
    min-width: 11.5rem;

    > img {
      width: 100%;
      height: auto;
    }
  }
}

.snsIconContainer {
  margin-left: 4.6rem;
  @include sp {
      margin-left: 3.2rem;
  }
  }


.sns-icon-custom::before {
  font-size: 2.2rem;
}

.sns-icon-custom:not(:first-child) {
  margin-left: 1.7rem;
}

.footerNavigation {
  a {
    @include jp(500);
    font-size: 1.6rem;
    @include underlineAnimation(#ffffff, 1px, 0.3s);
  }

  @include sp {
    a {
      font-size: 1.4rem;
      @include jp(400);
    }
  }
}

.footerNavigation__lists {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footerNavigation__list {
  @include sp {
    margin: 0;
  }
}

.copyRight {
  display: inline-block;
  font-size: 1.2rem;
  position: relative;
  top: -2rem;

  @include sp {
    top: 0;
    margin-top: 3.2rem;
  }
}
