.header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  @include sp {
    justify-content: space-between;
  }
}

%logoWrapper {
  max-width: 25.8rem;
  min-width: 11.5rem;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.header .logoWrapper {
  position: absolute;
  left: 0;
  z-index: 5;
  padding: 2rem;
  background-color: #011950;
  // border-radius: 0.4rem;
  @extend %logoWrapper;
  // width: 17.9%;
  width: 15%;
  cursor: pointer;

  @include sp {
    position: relative;
  }
}

.navigation {
  padding: 3rem 0;
}

.navigation__lists {
  list-style: none;
  display: flex;
  align-items: center;

  > li {
    margin-left: 4.9rem;
    @include underlineAnimation(#000000, 1px, 0.3s);
  }

  a {
    font-size: 1.6rem;
    @include jp(400);
    text-decoration: none;
    color: #000000;
  }
}

.navigation__lists > li.currentMenuItem::before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: -2.5rem;
  background: url(../images/balance.svg) no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 900px) {
  .navigation__lists {
    > li {
      margin-left: 3rem;
    }

    a {
      font-size: 1.4rem;
    }
  }
}

@include sp {
  .navigation__lists {
    display: block;

    > li {
      margin-left: 0;
    }

    a {
      color: #ffffff;
      font-size: 1.4rem;
      font-weight: 400;
      text-decoration: none;
      display: block;
      padding: 1.2rem 0;
      border-top: #011950 solid 1px;
    }
  }
}

.navigation__lists .nav__contact {
  background-color: #d40000;

  a {
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 1rem;
  }

  &::after {
    background-color: #d40000;
  }

  span {
    margin-left: 1rem;
  }
}

@include sp {
  .nav__contact {
    background-color: initial;
    padding: 1.2rem 0;

    a {
      display: inline-block;
      padding: 0;
    }

    span {
      margin-left: 0;
    }
  }
}

.size-custom::before {
  font-size: 2.5rem;
}

@include sp {
  .imgWrapper > img {
    width: 100%;
  }
}

.navigation .snsIconContainer {
  display: none;
  position: absolute;
  left: 13%;
  top: 65vh;
  z-index: 4;

  > i {
    color: #ffffff;
  }
}
