.linkTabs {
  min-width: 14rem;

  @include sp {
    padding: 0 2.5rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.linkTab {
  display: block;
  margin-bottom: 2.6rem;
  margin-left: 3.5rem;
  font-size: 1.4rem;
  color: #a9a9a9;
  text-decoration: none;

  @include sp {
    margin-left: 0;
    margin-bottom:2rem;
    display: block;
  }
}

.linkTab.is-active {
  color: #000000;
  position: relative;
}

.linkTab.is-active::before {
  @include balanceMark("red");
  @include sp {
    top:0;
  }
}
