.linkTabs {
  padding-left: 2rem;

  @include sp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
  }
}

.linkTab {
  display: block;
  margin-bottom: 2.6rem;
  margin-left: 4rem;
  font-size: 1.4rem;
  color: #a9a9a9;
  text-decoration: none;

  @include sp {
    display: block;
  }
}

.linkTab.is-active {
  color: #000000;
  position: relative;
}

.linkTab.is-active::before {
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  background-color: #000000;
  top: 0.8rem;
  left: -1.6rem;
}
