.linkTabs {
  min-width: 20rem;

  @include tb {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.linkTab {
  display: block;
  margin-bottom: 2.6rem;
  margin-left: 5rem;
  font-size: 1.4rem;
  color: #a9a9a9;
  text-decoration: none;

  @include sp {
    margin-bottom:2rem;
    display: block;
  }
}

.linkTab.is-active {
  color: #000000;
  position: relative;
}

.linkTab.is-active::before {
  @include balanceMark("red");
  @include sp {
    top:0;
  }
}
