.mainViewSwiper {
  top: -5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5.6vw;
  @include sp {
    display: block;
    padding: 0 5%;
  }
}

.mainViewwSwiper__copy{
  flex: 1;
  display:flex;
  justify-content: center;
}

.catchcopy-vertical {
  font-size: 4.8rem;
  color:#011950;
  @include jp(500);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  line-height: 1.75;
  letter-spacing: 1.5rem;

  @include sp {
    font-size: 2.8rem;
    writing-mode: horizontal-tb;
    line-height: 2;
    letter-spacing: 0;
    margin-top: 3.2rem;
  }
}

.mainCopyContainer {
  width: 100%;
  overflow: hidden;
}

.mainCopy {
  display: inline-block;
  font-size: 8rem;
  @include jp(500);
  color:#000000;
  margin-top: 11.8rem;
  white-space: nowrap;
  transform: translateX(80%);
  opacity: 0;
  @include sp {
    font-size: 4rem;
    margin-top: 3.2rem;
  }
}
