.mainView-about {
  @include mainView;
  background-image: url("../images/mainView/about.jpg");

  @include sp {
    background-image: url("../images/mainView/about-sp.jpg");
  }
}

.mainView-service {
  @include mainView;
  background-image: url("../images/mainView/service.jpg");

  @include sp {
    background-image: url("../images/mainView/service-sp.jpg");
  }
}

.mainView-news {
  @include mainView;
  background-image: url("../images/mainView/news.jpg");

  @include sp {
    background-image: url("../images/mainView/news-sp.jpg");
  }
}

.mainView-works {
  @include mainView;
  background-image: url("../images/mainView/works.jpg");

  @include sp {
    background-image: url("../images/mainView/works-sp.jpg");
  }
}

.mainView-contact {
  @include mainView;
  background-image: url("../images/mainView/contact.jpg");

  @include sp {
    background-image: url("../images/mainView/contact-sp.jpg");
    background-size: 100%;
    background-position: left 1rem top;
  }
}

.mainView__titleContainer {
  display: inline-block;
  padding: 4rem 4.5rem 4rem 4.5rem;
  // min-width: 37rem;
  // background-color: rgba(248,248,248,0.9);
  background-color: rgba(255,255,255,0.9);

  @include sp {
    padding: 2rem 3rem 4rem 3rem;
    min-width: 19rem;
  }
}

.mainView__title {
  color:#011950;
  font-size: 2.8rem;
  border-bottom: #d40000 solid 1px;
  padding-bottom: 1rem;
  @include jp(500);

  @include sp {
    font-size: 2.4rem;
  }
}

.mainView__subtitle {
  margin-top: 1rem;
  font-size: 1.8rem;
  color:#e7c370;
  text-shadow:
    -1px -1px 0 rgba(255,255,255,0.3),
    1px -1px 0 rgba(255,255,255,0.3),
    -1px 1px 0 rgba(255,255,255,0.3),
    1px 1px 0 rgba(255,255,255,0.3);
  // font-weight: bold;
  @include en(500);

  @include sp {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
}

.breadCrumbsContainer-mainView {
  padding-right: 6rem;

  @include sp {
    padding-right: 1rem;
  }
}
