.mainViewSwiper {
  top: -5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
}

.catchcopy-vertical {
  font-size: 6rem;
  font-weight: bold;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  line-height: 1.75;
  letter-spacing: 0.2rem;
}

.mainCopyContainer {
  width: 100%;
  overflow: hidden;
}

.mainCopy {
  font-size: 15rem;
  font-weight: bold;
  color: #011950;
  margin-top: 11.8rem;
  white-space: nowrap;
  @include slideInWithPauseAnimation;
  opacity: 0;
}

@include sp {
  .mainViewSwiper {
    display: block;
    padding: 0 5%;
  }

  .catchcopy-vertical {
    font-size: 3.4rem;
    writing-mode: horizontal-tb;
    line-height: 2;
    letter-spacing: 0;
    margin-top: 3rem;
  }
}
