@mixin arrowButtonStyle(
  $padding-horizontal,
  $backGroundPosition,
  $hoverPlusPosition
) {
  display: inline-block;
  color: #001e63;
  font-size: 1.4rem;
  border: #001e63 solid 1px;
  border-radius: 4px;
  transition: background-position 0.3s ease;

  &:first-child {
    padding: 1.5rem $padding-horizontal + "rem" 1.5rem $padding-horizontal +
      "rem";
    background-image: url("../img/arrow-before.svg");
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: $padding-horizontal-left center;
  }

  &:last-child {
    padding: 1.5rem $padding-horizontal + "rem" 1.5rem $padding-horizontal +
      "rem";
    background-image: url("../img/arrow-next.svg");
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: $hover-background-position center;
  }

  &:first-child:hover {
    background-position: $hoverPosition center;
  }

  &:last-child:hover {
    background-position: $hoverPosition center;
  }
}
