.list {
  border-bottom: #e2e2e2 solid 1px;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.newsDate {
  @include date;
}

.newsLabels {
  display: inline-block;

  @include sp {
    display: inline;
    margin-left: 1rem;
  }
}

.newsLabel {
  @include label(#626262, #ffffff);
  margin-left: 2rem;
}

.label--dark{
  @include label(#626262, #f3f3f3);
}


.list__text {
  margin-top: 2rem;
  display: inline-block;
  font-size: 1.8rem;
  @include jp(700);
  cursor: pointer;
  max-width: 58vw;
  line-height: 3rem;
  @include ellipsisSingle;
  @include underlineAnimation(#001e63, 4px, 0.3s);

  @include tb {
    font-size: 1.4rem;
    line-height: 2.8rem;
    max-width: 60vw;
  }

  @include mb {
    max-width: 88vw;
  }

  @include sp {
    font-size: 1.4rem;
  }
}
