.pager {
  margin-top: 6rem;
}

.nav-links {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.pagination__arrow {
  display: inline-block;
  width: 11px;
  height: 18px;
}

// それぞれのページ番号のスタイル
.page-numbers {
  @include jp(400);
  font-size: 1.4rem;
  padding: 1.2rem 1.7rem;
  background-color: #E6CD92;
  display: inline-block;
  border-radius: 0.2rem;
}

.page-numbers.current {
  background-color: #011950;
  color: #ffffff;
}

// ボーダーラインを打ち消す
.page-numbers.dots,
.page-numbers.prev,
.page-numbers.next {
  border: none;
  background-color: transparent;
}