.readMoreLink__text,
.readMoreButton__text {
  font-family: "Roboto";
  font-size: 1.4rem;
  color: #001e63;
}

.readMoreLink {
  display: inline-block;
  text-decoration: none;
  background-image: url("../images/readMoreArrow.svg");
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 1rem;
  cursor: pointer;
  @include underlineAnimation(#000000, 1px, 0.3s);
}

.readMoreButton {
  display: inline-block;
  border: solid #001e63 1px;
  border-radius: 0.3rem;
  padding: 1rem 3.4rem 1rem 2.4rem;
  background-color: #001e63;
  background-image: url("../images/readMoreArrow-white.svg"), url("../images/pattern.png");
  background-position: center right 12px;
  background-repeat: no-repeat, repeat;
  cursor: pointer;
  line-height: 1;
}

.readMoreButton__text {
  line-height: 1;
  color: #ffffff;
  font-weight: 500;
  padding-bottom: 0.2rem;
  @include underlineAnimation(#E6CD92, 1px, 0.3s);
}
