.readMoreLink__text,
.readMoreButton__text {
  font-family: "Roboto";
  font-size: 1.4rem;
  color: #001e63;
}

.readMoreLink {
  display: inline-block;
  text-decoration: none;
  background-image: url("../img/readMoreArrow.svg");
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 1rem;
  cursor: pointer;
  @include underlineAnimation(#000000, 1px, 0.3s);
}

.readMoreButton {
  display: inline-block;
  border: solid #001e63 1px;
  border-radius: 0.4rem;
  padding: 1.45rem 3.4rem 1.45rem 2.4rem;
  background-image: url("../img/readMoreArrow.svg");
  background-position: center right 12px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.readMoreButton__text {
  line-height: 1;
  @include underlineAnimation(#000000, 1px, 0.3s);
}
