.sideBar {
 // width: 30rem;
//  flex-grow: 0; /* 伸びる幅を0に設定 */
//  flex-shrink: 0; /* 縮む幅を0に設定 */
//  flex-basis: 68%; /* 基本の幅を68%に設定 */
  @include sp {
    // width: 100%;
  }
}

.title-sideBar {
  @include title-sideBar;
}

.sideBarLists {
  padding: 0 1.8rem 4rem 1.8rem;
}

.sideBarLists > li {
  font-size: 1.4rem;
  padding: 2rem;
  border-bottom: #e4e4e4 solid 1px;
}

.sideBarLists > li:last-child {
  border-bottom: transparent;
}

.photoLists {
  padding: 0 1.8rem;
}
