.slidePhoto {
  margin: 12rem 0;
  width: 100%;
  overflow-x: scroll;

  @include sp {
    margin: 8rem 0;
  }
}

.slidePhoto__lists {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.slidePhoto__list {
  margin-left: 0.5rem;

  @include sp {
    img {
      width: 33.3vw;
      height: auto;
      aspect-ratio: 6 / 5;
    }
  }
}
