.slidePhoto {
  margin: 12rem 0;
  width: 100%;
  overflow: hidden;

  @include sp {
    margin: 8rem 0;
  }
}

.slidePhoto__lists {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  transform: translateX(100%);
  opacity: 0;
}

.slidePhoto__list {
  margin-left: 0.5rem;

  @include sp {
    img {
      width: 18rem;
      height: auto;
    }
  }
}
