.slidePhoto {
  margin: 12rem 0;
  width: 100%;
  overflow: hidden;

  @include sp {
    margin: 8rem 0;
  }
}

.slidePhoto__lists {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  @include slideInWithPauseAnimation(
    $from: 100%,
    $to: -32%,
    $keepPosision: -32%
  );

  @include sp {
    @include slideInWithPauseAnimation(
      $from: 100%,
      $to: -188%,
      $keepPosision: -188%
    );
  }
}

.slidePhoto__list {
  margin-left: 0.5rem;

  @include sp {
    img {
      width: 18rem;
      height: auto;
    }
  }
}
