.summarySection {
  margin-inline: auto;
  margin-top: 6rem;
  width: 100%;
  padding: 0 2rem;
  max-width: 88rem;

  @include sp {
    padding: 0 2.7%;
    margin-top: 3.3rem;
  }
}

.summarySection__links {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include sp {
    justify-content: space-around;
  }
}

.summarySection__links > li {
  color: #011950;
  background-image: url("../images/downArrow.svg");
  background-repeat: no-repeat;
  background-position: center right 0.5rem;
  margin-right: 12rem;
  font-size: 1.6rem;
  padding-right: 2rem;

  a {
    @include underlineAnimation(#000000, 1px, 0.3s);
  }

  @include sp {
    margin-right: 0;
    font-size: 1.2rem;
  }
}

.summarySection__links > li:last-child {
  margin-right: 0;
}

.summarySection__title {
  font-size: 4rem;
  margin-top: 10rem;
  line-height: 1.5;

  @include sp {
    font-size: 1.8rem;
    margin-top: 3.2rem;
    line-height: 3.8rem;
  }
}

.summarySection__text {
  margin-top: 6rem;
  font-size: 1.6rem;
  line-height: 3.8rem;

  @include sp {
    margin-top: 3.2rem;
    font-size: 1.6rem;
    line-height: 3rem;
  }
}
