// TODO 正規の消しかたを調査
.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.swiperContainer {
  width: 71.8%;

  @include sp {
    width: 100%;
  }
}

.swiper {
  width: 100%;
  height: 78rem;

  @include sp {
    height: 48rem;
  }
}

.swiper-slide img {
  width: 100%;
  object-fit: cover;
}
