.list-work a {
  border-bottom: #e2e2e2 solid 1px;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @include sp {
    flex-direction: column;
  }
}

.list-textContainer-work {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @include tb {
    margin-left: 1.5rem;
  }

  @include sp {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}

.worksDate {
  margin-top: 4rem;
  @include date;

  @include tb {
    margin-top: 1rem;
  }
}

.labels-works {
  display: inline-block;
}

.label-works {
  @include label(#626262, #f3f3f3);
  margin-right: 2rem;

  @include sp {
    margin-left: 0;
    margin-right: 0.8rem;
    display: none;

    &:first-child {
      display: inline-block;
    }
  }
}

.list__title-work {
  display: inline-block;
  margin-top: 3rem;
  font-size: 1.8rem;
  cursor: pointer;
  line-height: 3.2rem;
  width: 80%;
  @include underlineAnimation(#000000, 1px, 0.3s);
  @include ellipsisSingle;

  @include tb {
    font-size: 1.4rem;
    padding: 0;
    line-height: 2.8rem;
    margin-top: 1rem;
  }

  @include sp {
    // white-space: normal;
    width:94.6%;
    margin-inline: auto;
  }
}

.list-textContainer-work > p {
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: #626262;
  line-height: 2.375;
  @include ellipsisMulti(2, 8rem);
  width: 80%;

  @include tb {
    font-size: 1.4rem;
    padding: 0;
    line-height: 2;
    margin-top: 1rem;
  }

  @include sp {
    white-space: normal;
    width:94.6%;
    margin-inline: auto;
  }
}

.list-imgContainer-work{
  width: 11.11vw;
  min-width: 16rem;

  img{
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  @include sp {
    width: 100%;

    img{
    width: 100%;

    }
  }
}

.Labels--works {
  display: inline-block;

  @include tb {
    display: inline;
    margin-left: 1rem;
  }
}

.label--works{
  @include label( #707070, #f3f3f3);
}

.label--works:not(:first-child){
  margin-left: 2rem;
}