.list-work a {
  border-bottom: #e2e2e2 solid 1px;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @include sp {
    flex-direction: column;
  }
}

.list-textContainer-work {
  margin-left: 3rem;
  flex-grow: 1;
  //flex-shrink: 0;
  padding-left: 2.5%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @include sp {
    margin-left: 0;
    padding-left: 0;
    margin-top: 1.5rem;
  }
}

.worksDate {
  margin-top: 4rem;
  @include date;

  @include tb {
    margin-top: 2rem;
  }
}

.labels-works {
  display: inline-block;
}

.label-works {
  @include label(#626262, #f3f3f3);
  margin-right: 2rem;

  @include sp {
    margin-left: 0;
    margin-right: 0.8rem;
    display: none;

    &:first-child {
      display: inline-block;
    }
  }
}

.list__title-work {
  display: inline-block;
  font-size: 1.8rem;
  cursor: pointer;
  max-width: 44vw;
  @include jp(700);
  @include ellipsisSingle;
  @include underlineAnimation(#001e63, 4px, 0.3s);
  margin-top: 2rem;

  @include tb {
    line-height: 2.8rem;
    max-width: 65vw;
  }

  @include sp {
    font-size: 1.4rem;
    max-width: 88vw;
  }
}

.list-textContainer-work > p {
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: #626262;
  line-height: 2.375;
  @include ellipsisMulti(2, 8rem);
  width: 44vw;

  @include tb {
    padding: 0;
    line-height: 2;
    margin-top: 1rem;
    width: 65vw;
    height:7rem;
  }

  @include mb {
  }

  @include sp {
    white-space: normal;
    font-size: 1.4rem;
    height:5rem;
    width: 88vw;
    margin-inline: auto;
  }
}

.list-imgContainer-work {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  @include sp {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.Labels--works {
  display: inline-block;

  @include tb {
    display: inline;
    margin-left: 1rem;
  }
}

.label--works {
  @include label(#707070, #f3f3f3);
}

.label--works:not(:first-child) {
  margin-left: 2rem;
}
