.worksSection{
  overflow: hidden;
}

.worksSection__title {
  @include topSectiontitle-h2;
  transform: translateX(50%);
  opacity: 0;

  @include sp {
    width: 94.6%;
    margin: auto;
  }
}

.worksSection__body {
  margin-top: 4rem;
  padding: 0 2.5rem 6rem 0;
  background-color: #ffffff;
  transform: translateY(50%);
  opacity: 0;

  @include sp {
    padding: 0 2.7% 6rem 2.7%;
    margin: 4rem auto 0 auto;
  }
}

.worksSection__link {
  margin-top: 5.3rem;
  text-align: right;
}
