.list-work a {
  border-bottom: #e2e2e2 solid 1px;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.list-textContainer-work {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @include sp {
    margin-left: 1.5rem;
  }
}

.worksDate {
  margin-top: 4rem;
  @include date;

  @include sp {
    margin-top: 1rem;
  }
}

.labels-works {
  display: inline-block;
}

.label-works {
  @include label(#626262, #f3f3f3);
  margin-right: 2rem;

  @include sp {
    margin-left: 0;
    margin-right: 0.8rem;
    display: none;

    &:first-child {
      display: inline-block;
    }
  }
}

.list__text-work {
  display: inline-block;
  margin-top: 3rem;
  font-size: 1.8rem;
  cursor: pointer;
  line-height: 3.2rem;
  @include underlineAnimation(#000000, 1px, 0.3s);

  @include sp {
    font-size: 1.4rem;
    padding: 0;
    line-height: 2.8rem;
    margin-top: 1rem;
    width: auto;
  }
}

.list-imgContainer-work{
  width: 16rem;
  height: 16rem;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;

  }
}
