.worksSection__title {
  @include topSectiontitle-h2;
  animation: slideIn 1s ease;

  @include sp {
    width: 94.6%;
    margin: auto;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.worksSection__body {
  margin-top: 4rem;
  padding: 0 2.5rem 6rem 0;
  background-color: #ffffff;
  animation: displayeInFluff 1s ease;

  @include sp {
    padding: 0 2.7% 6rem 2.7%;
    margin: 4rem auto 0 auto;
  }
}

@keyframes displayeInFluff {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.worksSection__link {
  margin-top: 5.3rem;
  text-align: right;
}
