@import "mixin";
@import "fonts";
@import "common";
@import "header";
@import "hamburgerButton";
@import "hamburgerMenu";
@import "mainView";
@import "breadCrumb";
@import "summarySection";
@import "newslists";
@import "linkTabs";
@import "pager";
@import "footer";

.newsMainContents {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 76.39%;
  margin-top: 9.6rem;
  margin-inline:auto;

  @include sp {
    display: block;
    margin: 5.6rem 0;
    width: 94.6%;
    margin-inline:auto;
  }
}

.newsMainContents__tabs {
  width: 18%;

  @include sp {
    width: 100%;
  }
}

.newsMainContents__body {
  padding-left: 4%;
  width: 96%;
  border-left: #e2e2e2 solid 1px;
  flex: 1;

  @include sp {
    padding-left: 0;
    margin-top: 4.2rem;
    border-left: transparent;
  }
}

.news__lists{
}
