html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", "Oswald", sans-serif;
}

header,
footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  position: relative;
}

.contents-dark {
  background-color: #f8f8f8;
  padding-bottom: 16.5rem;
}

.contents__inner-dark {
  padding-top: 12.6rem;
  width: 110rem;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .contents__inner-dark {
    width: 100%;
    padding-top: 6rem;
  }
}

@media only screen and (min-width: 769px) {
  .displayPc {
    display: block !important;
  }
}
@media only screen and (max-width: 768px) {
  .displayPc {
    display: none !important;
  }
}

@media only screen and (min-width: 769px) {
  .displaySp {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .displaySp {
    display: block !important;
  }
}

.contents {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .contents {
    width: 94.6%;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }
}

.footer .logoWrapper, .header .logoWrapper {
  max-width: 25.8rem;
  min-width: 11.5rem;
}
.footer .logoWrapper img, .header .logoWrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .logoWrapper {
  position: absolute;
  left: 0;
  z-index: 3;
  width: 17.9%;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .header .logoWrapper {
    position: relative;
  }
}

.navigation__lists {
  list-style: none;
  display: flex;
  align-items: center;
}
.navigation__lists > li {
  margin-left: 4.9rem;
  position: relative;
}
.navigation__lists > li::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #000000;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.navigation__lists > li:hover::after {
  transform: scale(1, 1);
}
.navigation__lists a {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}

@media only screen and (max-width: 900px) {
  .navigation__lists > li {
    margin-left: 3rem;
  }
  .navigation__lists a {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 768px) {
  .navigation__lists {
    display: block;
  }
  .navigation__lists > li {
    margin-left: 0;
  }
  .navigation__lists a {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    display: block;
    padding: 1.2rem 0;
    border-top: #011950 solid 1px;
  }
}
.nav__contact {
  background-color: #011950;
}
.nav__contact a {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 3rem 4rem;
}
.nav__contact::after {
  display: none;
}
.nav__contact span {
  margin-left: 1rem;
}

@media only screen and (max-width: 768px) {
  .nav__contact {
    background-color: initial;
    padding: 1.2rem 0;
  }
  .nav__contact a {
    display: inline-block;
    padding: 0;
  }
  .nav__contact span {
    margin-left: 0;
  }
}
.size-custom::before {
  font-size: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .imgWrapper > img {
    width: 100%;
  }
}
.navigation .snsIconContainer {
  display: none;
  position: absolute;
  left: 13%;
  top: 65vh;
  z-index: 4;
}
.navigation .snsIconContainer > i {
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .hamburgerButton {
    position: relative;
    cursor: pointer;
    margin: 3rem 3rem 0 0;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 100;
  }
  .hamburgerButton span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 0;
    height: 2px;
    background: #242424;
  }
  .hamburgerButton span:nth-of-type(1) {
    width: 100%;
    top: 0;
  }
  .hamburgerButton span:nth-of-type(2) {
    width: 100%;
    top: 0.7rem;
  }
  .hamburgerButton span:nth-of-type(3) {
    width: 60%;
    top: 1.4rem;
  }
  .hamburgerButton.active span {
    background: #ffffff;
  }
  .hamburgerButton.active span:nth-of-type(1) {
    top: 1.8rem;
    left: 0;
    transform: translateY(6px) rotate(-45deg);
    width: 100%;
  }
  .hamburgerButton.active span:nth-of-type(2) {
    opacity: 0;
  }
  .hamburgerButton.active span:nth-of-type(3) {
    top: 3rem;
    left: 0;
    transform: translateY(-6px) rotate(45deg);
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .js-navigation.panelactive {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  .circleBackground {
    position: fixed;
    z-index: 3;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #001135;
    transform: scale(0);
    right: -50px;
    bottom: -50px;
    transition: all 0.6s;
  }
  .circleBackground.circleActive {
    transform: scale(50);
  }
  .js-navigation ul {
    opacity: 0;
    position: absolute;
    z-index: 6;
    left: 13%;
    top: 24%;
  }
  .js-navigation.panelActive ul {
    opacity: 1;
  }
  .js-navigation.panelActive ul li {
    animation-name: gnaviAnime;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
    text-align: left;
  }
  @keyframes gnaviAnime {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.breadcrumb {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.8rem;
  text-align: right;
}

.breadcrumb__between {
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background-color: #a9a9a9;
}

.summarySection {
  margin: 6rem auto 0 auto;
  width: 100%;
  max-width: 840px;
}
@media only screen and (max-width: 768px) {
  .summarySection {
    margin-top: 3.3rem;
  }
}

.summarySection__links {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .summarySection__links {
    justify-content: space-between;
  }
}

.summarySection__links > li {
  color: #011950;
  background-image: url("../images/downArrow.svg");
  background-repeat: no-repeat;
  background-position: center right 0.5rem;
  margin-right: 12rem;
  font-size: 1.6rem;
  padding-right: 2rem;
}
.summarySection__links > li a {
  position: relative;
}
.summarySection__links > li a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #000000;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.summarySection__links > li a:hover::after {
  transform: scale(1, 1);
}
@media only screen and (max-width: 768px) {
  .summarySection__links > li {
    margin-right: 0;
    font-size: 1.2rem;
  }
}

.summarySection__links > li:last-child {
  margin-right: 0;
}

.summarySection__title {
  font-size: 4rem;
  margin-top: 10rem;
}
@media only screen and (max-width: 768px) {
  .summarySection__title {
    font-size: 1.8rem;
    margin-top: 6.2rem;
    line-height: 3.8rem;
  }
}

.summarySection__text {
  margin-top: 6rem;
  font-size: 1.6rem;
  line-height: 3.8rem;
}
@media only screen and (max-width: 768px) {
  .summarySection__text {
    margin-top: 3.4rem;
    font-size: 1.4rem;
    line-height: 3.2rem;
  }
}

.sideBar {
  width: 30rem;
}
@media only screen and (max-width: 768px) {
  .sideBar {
    width: 100%;
  }
}

.title-sideBar {
  font-size: 1.4rem;
  color: #ffffff;
  background-color: #001135;
  padding: 1.8rem;
  text-align: left;
}

.sideBarLists {
  padding: 0 1.8rem 4rem 1.8rem;
}

.sideBarLists > li {
  font-size: 1.4rem;
  padding: 2rem;
  border-bottom: #e4e4e4 solid 1px;
}

.sideBarLists > li:last-child {
  border-bottom: transparent;
}

.photoLists {
  padding: 0 1.8rem;
}

.photoList:first-child {
  padding-top: 4rem;
}

.photoList a {
  border-bottom: #e2e2e2 solid 1px;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.photoList:last-child a {
  border-bottom: transparent;
}

.photoList__textContainer {
  margin-left: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.photoList__date {
  margin-top: 1.4rem;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #a9a9a9;
}

.photoList__labelContainer {
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .photoList__labelContainer {
    display: inline;
    margin-left: 1rem;
  }
}

.photoList__label {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  color: #626262;
  background-color: #f3f3f3;
  display: inline-block;
  margin-right: 2rem;
}
@media only screen and (max-width: 768px) {
  .photoList__label {
    margin-left: 0.8rem;
    font-size: 1rem;
    padding: 0.5rem 1.6rem;
  }
}

.photoList__text {
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
  line-height: 2.4rem;
  position: relative;
}
.photoList__text::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #000000;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.photoList__text:hover::after {
  transform: scale(1, 1);
}
@media only screen and (max-width: 768px) {
  .photoList__text {
    font-size: 1.4rem;
    padding-right: 1rem;
    line-height: 2.8rem;
  }
}

.pager {
  margin-top: 6rem;
}

.nav-links {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.pagination__arrow {
  display: inline-block;
  width: 11px;
  height: 18px;
}

.page-numbers {
  font-family: "Oswald";
  font-size: 1.4rem;
  padding: 1.2rem 1.7rem;
  background-color: #e9eeef;
  display: inline-block;
}

.page-numbers.current {
  background-color: #001e63;
  color: #ffffff;
}

.page-numbers.dots,
.page-numbers.prev,
.page-numbers.next {
  border: none;
  background-color: transparent;
}

.footer {
  color: hsl(0, 0%, 100%);
}

.contactMethod {
  border: solid 1px #ffffff;
  padding: 2rem 3.1rem;
  border-radius: 0.4rem;
  max-width: 23.5rem;
  cursor: pointer;
}
.contactMethod:nth-of-type(1) {
  margin-bottom: 2rem;
  position: relative;
}
.contactMethod:nth-of-type(1) span {
  position: relative;
  z-index: 5;
}
.contactMethod:nth-of-type(1) i {
  position: relative;
  z-index: 5;
}
.contactMethod:nth-of-type(1):hover span {
  color: #011950;
}
.contactMethod:nth-of-type(1):hover i {
  color: #011950;
}
.contactMethod:nth-of-type(1):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}
.contactMethod:nth-of-type(1):hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}
.contactMethod:nth-of-type(2) {
  margin-bottom: 2.4rem;
}

@media only screen and (max-width: 768px) {
  .contactMethod {
    border: solid 1px #ffffff;
    padding: 2rem 3.1rem;
    border-radius: 0.4rem;
    max-width: 23.5rem;
  }
  .contactMethod:nth-of-type(1) {
    margin-bottom: 2.5rem;
  }
  .contactMethod:nth-of-type(2) {
    margin-bottom: 1.2rem;
  }
}
.footer__upperContents {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
  background-color: #011950;
}

@media only screen and (max-width: 768px) {
  .footer__upperContents {
    display: block;
  }
  .contactMethod {
    margin: auto;
  }
}
.contactMethod__text {
  font-size: 2.2rem;
  margin-left: 1rem;
}

.textContainer {
  margin: auto;
}

.textContainer__lead {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 8.4rem;
  margin-bottom: 2.4rem;
}

@media only screen and (max-width: 768px) {
  .textContainer {
    padding: 8rem 0;
  }
  .textContainer__lead {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.8rem;
    margin-top: 0;
    margin-bottom: 5rem;
  }
  .officeHours {
    margin-top: 0;
    text-align: center;
    font-size: 1.2rem;
  }
}
.imgWrapper {
  width: 57%;
  height: 44.6rem;
}
.imgWrapper > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .imgWrapper {
    width: 100%;
  }
}
.footer__lowerContents {
  background-color: #001135;
  padding: 5.8rem 9.72% 5.6rem 11.9444%;
}

.footer__lowerContentsInner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .footer__lowerContents {
    padding: 6rem 0 3rem 5rem;
  }
  .footer__lowerContentsInner {
    flex-direction: row;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.footer .logoWrapper {
  width: 63.55%;
}
@media only screen and (max-width: 768px) {
  .footer .logoWrapper {
    width: 11.4rem;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .logoWrapper {
    z-index: 7;
    max-width: 25.8rem;
    min-width: 11.5rem;
  }
  .logoWrapper > img {
    width: 100%;
    height: auto;
  }
}
.snsIconContainer {
  margin-left: 4.6rem;
}

@media only screen and (max-width: 768px) {
  .snsIconContainer {
    margin-left: 0;
    margin-top: 5rem;
  }
}
.sns-icon-custom::before {
  font-size: 2.2rem;
}

.sns-icon-custom:not(:first-child) {
  margin-left: 1.7rem;
}

.logoIconContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .logoIconContainer {
    display: block;
  }
}
.leftContents {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .leftContents {
    margin-top: 6rem;
  }
}
.footerNavigation a {
  font-size: 1.6rem;
  position: relative;
}
.footerNavigation a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #ffffff;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.footerNavigation a:hover::after {
  transform: scale(1, 1);
}
.footerNavigation li:not(:first-child) {
  margin-top: 2.3rem;
}
@media only screen and (max-width: 768px) {
  .footerNavigation li:not(:first-child) {
    margin-top: 2.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .footerNavigation a {
    font-size: 1.4rem;
    font-weight: 400;
  }
}
.copyRight {
  display: inline-block;
  font-size: 1.2rem;
  position: relative;
  top: -2rem;
}
@media only screen and (max-width: 768px) {
  .copyRight {
    top: 0;
    margin-top: 5.6rem;
  }
}

.breadCrumbContainer {
  margin: 9rem 0;
  padding: 0 4.6rem 0 0;
}
@media only screen and (max-width: 768px) {
  .breadCrumbContainer {
    margin: 1rem 0;
    padding-top: 0;
  }
}

.newsDetail__title {
  margin-top: 2rem;
  font-size: 2.6rem;
}
@media only screen and (max-width: 768px) {
  .newsDetail__title {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}

.newsDetail__main h2 {
  margin-top: 4rem;
  font-size: 2.2rem;
  background-color: #f8f9f9;
  padding: 0.5rem 0 1rem 0.8rem;
  border-left: 2px solid #707070;
}
@media only screen and (max-width: 768px) {
  .newsDetail__main h2 {
    font-size: 1.6rem;
  }
}

.newsDetail__main h3 {
  margin-top: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 1.8rem;
  border-bottom: 1px solid #001e63;
  padding: 0 0 0.5rem 1.5rem;
}
.newsDetail__main h3 > span:last-child {
  border-bottom: 1px solid #e4e4e4;
  padding: 0 0 0.5rem 1.5rem;
  flex: 1;
}
@media only screen and (max-width: 768px) {
  .newsDetail__main h3 > span {
    font-size: 1.4rem;
  }
}

.newsDetail__main a {
  display: block;
  text-decoration: underline;
  color: #0072bc;
}

.newsDetail__main ul {
  margin: 4.4rem 0;
  font-size: 1.4rem;
  line-height: 4rem;
  margin-left: 2rem;
}

.newsDetail__imgContainer img {
  width: 100%;
  height: auto;
}

.newsDetail__main li {
  position: relative;
  padding-left: 1em;
}

.newsDetail__main li::after {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 8px;
  height: 8px;
  content: "";
  border-radius: 4px;
  background-color: #67a7cc;
}

.newsDetail__main li + li {
  margin-top: 4px;
}

.newsDetail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 8rem auto 12rem;
  width: 100%;
  max-width: 110rem;
}
@media only screen and (max-width: 768px) {
  .newsDetail {
    display: block;
    margin: 4rem auto 8rem;
  }
}

.newsDetail__main {
  display: block;
  width: 100%;
  max-width: 76rem;
  padding: 0 4rem;
}
@media only screen and (max-width: 768px) {
  .newsDetail__main {
    padding: 0 6.67% 8rem;
  }
}

.newsDetail__label {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  color: #626262;
  background-color: #f3f3f3;
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .newsDetail__label {
    margin-left: 0.8rem;
    font-size: 1rem;
    padding: 0.5rem 1.6rem;
  }
}

.newsDetail__date {
  display: block;
  margin-top: 3.6rem;
  font-size: 1.1rem;
  color: #a9a9a9;
}

.newsDetail__main p {
  font-size: 1.6rem;
  line-height: 3.2rem;
  width: 100%;
  max-width: 68rem;
  margin: 4rem auto 0 auto;
}
@media only screen and (max-width: 768px) {
  .newsDetail__main p {
    font-size: 1.4rem;
  }
}

.newsDetail__buttonContainer {
  margin-top: 7.5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsDetail__button-next, .newsDetail__button-before {
  display: inline-block;
  color: #001e63;
  font-size: 1.4rem;
  border: #001e63 solid 1px;
  border-radius: 4px;
  transition: background-position 0.3s ease;
}

.newsDetail__button-before {
  padding: 1.5rem 2rem 1.5rem 4rem;
  background-image: url("../images/arrow-before.svg");
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: 2rem center;
}

.newsDetail__button-next {
  padding: 1.5rem 4rem 1.5rem 2rem;
  background-image: url("../images/arrow-next.svg");
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: 10rem center;
}

.newsDetail__button:first-child:hover {
  background-position: 1rem center;
}

.newsDetail__button:last-child:hover {
  background-position: 11rem center;
}/*# sourceMappingURL=newsDetail.css.map */