@import "mixin";
@import "fonts";
@import "common";
@import "header";
@import "hamburgerButton";
@import "hamburgerMenu";
@import "mainView";
@import "breadCrumb";
@import "summarySection";
@import "newslists";
@import "linkTabs";
@import "pager";
@import "footer";

.newsMainContents {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 76.39%;
  margin-inline: auto;
  margin-top: 9.6rem;
  margin-bottom: 12rem;

  @include tb {
    flex-direction: column;
    width: 100%;
  }

  @include sp {
    margin: 5.6rem 0;
  }
}

.newsMainContents__tabs {
  width: 20rem;

  @include tb {
    width: 94.6%;
  }
}

.newsMainContents__body {
  padding-left: 4%;
  width: 100%;
  border-left: #e2e2e2 solid 1px;
  flex: 1;

  @include tb {
    width: 94%;
    padding-left: 3%;
    margin-top: 5.6rem;
    border-left: transparent;
  }
}
