@import "mixin";
@import "fonts";
@import "common";
@import "header";
@import "hamburgerButton";
@import "hamburgerMenu";
@import "footer";

.mainView-404 {
  @include mainView;
  background-image: url("../images/mainView/404.jpg");
  margin-bottom: 12rem;

  @include sp {
    background-image: url("../images/mainView/404-sp.jpg");
  }
}

.contentsWrapper--404 {
  position: absolute;
  top: 65%;
  left: 65%;
  transform: translate(-65%, -65%);

  @include sp {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.mainView__title-404 {
  font-family: "Oswald";
  font-size: 7rem;
  color: #ffffff;
  font-weight: bold;

  @include tb {
    font-size: 4rem;
  }

  @include sp {
    font-size: 4.4rem;
  }
}

.mainView__subtitle-404 {
  margin-top: 3.2rem;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.4;
  color: #ffffff;

  @include tb {
    font-size: 1.4rem;
    line-height: 2.4;
    margin-top: 2rem;
  }

  @include sp {
    color: #000000;
    font-size: 1.2rem;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin-top: 4rem;
  }
}

.spTextContainer-404 {
  width: 89.3%;
  margin: auto;

  @include sp {
    padding-bottom: 8rem;
  }
}

.mainView__buttonContainer-404 {
  margin-top: 3.2rem;
  width: 100%;

  @include tb {
    margin-top: 2rem;
  }

  @include sp {
    text-align: center;
    font-size: 1.2rem;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin-top: 4.5rem;
  }
}

// TODO: mixin 化する
.button__404 {
  display: inline-block;
  color: #ffffff;
  font-size: 1.4rem;
  border: #ffffff solid 1px;
  border-radius: 4px;
  transition: background-position 0.3s ease;

  @include sp {
    color: #001e63;
    border: #001e63 solid 1px;
  }
}

.button__404:first-child {
  padding: 1.5rem 2.7rem 1.5rem 4.2rem;
  background-image: url("../images/arrow-before.svg");
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: 2rem center;
}

.button__404:first-child:hover {
  background-position: 1rem center;
}
