@import "mixin";
@import "fonts";
@import "common";
@import "header";
@import "hamburgerButton";
@import "hamburgerMenu";
@import "mainView";
@import "breadCrumb";
@import "summarySection";
@import "cardService";
@import "footer";

.service {
  @include sp {
    margin: 5.6rem 0;
    width: 94.6%;
    margin-inline: auto;
  }
}
