html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", "Oswald", sans-serif;
}

header,
footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  position: relative;
}

.contents-dark {
  background-color: #f8f8f8;
  padding-bottom: 16.5rem;
}

.contents__inner-dark {
  padding-top: 12.6rem;
  width: 110rem;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .contents__inner-dark {
    width: 100%;
    padding-top: 6rem;
  }
}

@media only screen and (min-width: 769px) {
  .displayPc {
    display: block !important;
  }
}
@media only screen and (max-width: 768px) {
  .displayPc {
    display: none !important;
  }
}

@media only screen and (min-width: 769px) {
  .displaySp {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .displaySp {
    display: block !important;
  }
}

.contents {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .contents {
    width: 94.6%;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }
}

.footer .logoWrapper, .header .logoWrapper {
  max-width: 25.8rem;
  min-width: 11.5rem;
}
.footer .logoWrapper img, .header .logoWrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .logoWrapper {
  position: absolute;
  left: 0;
  z-index: 3;
  width: 17.9%;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .header .logoWrapper {
    position: relative;
  }
}

.navigation__lists {
  list-style: none;
  display: flex;
  align-items: center;
}
.navigation__lists > li {
  margin-left: 4.9rem;
  position: relative;
}
.navigation__lists > li::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #000000;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.navigation__lists > li:hover::after {
  transform: scale(1, 1);
}
.navigation__lists a {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}

@media only screen and (max-width: 900px) {
  .navigation__lists > li {
    margin-left: 3rem;
  }
  .navigation__lists a {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 768px) {
  .navigation__lists {
    display: block;
  }
  .navigation__lists > li {
    margin-left: 0;
  }
  .navigation__lists a {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    display: block;
    padding: 1.2rem 0;
    border-top: #011950 solid 1px;
  }
}
.nav__contact {
  background-color: #011950;
}
.nav__contact a {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 3rem 4rem;
}
.nav__contact::after {
  display: none;
}
.nav__contact span {
  margin-left: 1rem;
}

@media only screen and (max-width: 768px) {
  .nav__contact {
    background-color: initial;
    padding: 1.2rem 0;
  }
  .nav__contact a {
    display: inline-block;
    padding: 0;
  }
  .nav__contact span {
    margin-left: 0;
  }
}
.size-custom::before {
  font-size: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .imgWrapper > img {
    width: 100%;
  }
}
.navigation .snsIconContainer {
  display: none;
  position: absolute;
  left: 13%;
  top: 65vh;
  z-index: 4;
}
.navigation .snsIconContainer > i {
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .hamburgerButton {
    position: relative;
    cursor: pointer;
    margin: 3rem 3rem 0 0;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 100;
  }
  .hamburgerButton span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 0;
    height: 2px;
    background: #242424;
  }
  .hamburgerButton span:nth-of-type(1) {
    width: 100%;
    top: 0;
  }
  .hamburgerButton span:nth-of-type(2) {
    width: 100%;
    top: 0.7rem;
  }
  .hamburgerButton span:nth-of-type(3) {
    width: 60%;
    top: 1.4rem;
  }
  .hamburgerButton.active span {
    background: #ffffff;
  }
  .hamburgerButton.active span:nth-of-type(1) {
    top: 1.8rem;
    left: 0;
    transform: translateY(6px) rotate(-45deg);
    width: 100%;
  }
  .hamburgerButton.active span:nth-of-type(2) {
    opacity: 0;
  }
  .hamburgerButton.active span:nth-of-type(3) {
    top: 3rem;
    left: 0;
    transform: translateY(-6px) rotate(45deg);
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .js-navigation.panelactive {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  .circleBackground {
    position: fixed;
    z-index: 3;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #001135;
    transform: scale(0);
    right: -50px;
    bottom: -50px;
    transition: all 0.6s;
  }
  .circleBackground.circleActive {
    transform: scale(50);
  }
  .js-navigation ul {
    opacity: 0;
    position: absolute;
    z-index: 6;
    left: 13%;
    top: 24%;
  }
  .js-navigation.panelActive ul {
    opacity: 1;
  }
  .js-navigation.panelActive ul li {
    animation-name: gnaviAnime;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
    text-align: left;
  }
  @keyframes gnaviAnime {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.mainViewSwiper {
  top: -5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
}

.catchcopy-vertical {
  font-size: 6rem;
  font-weight: bold;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  line-height: 1.75;
  letter-spacing: 0.2rem;
}

.mainCopyContainer {
  width: 100%;
  overflow: hidden;
}

.mainCopy {
  font-size: 15rem;
  font-weight: bold;
  color: #011950;
  margin-top: 11.8rem;
  white-space: nowrap;
  transform: translateX(0%);
  animation: slideIn 5s linear, pause 2s linear 5s forwards;
  opacity: 0;
}
@keyframes slideIn {
  from {
    transform: translateX(200%);
    opacity: 1;
  }
  to {
    transform: translateX(-18%);
    opacity: 1;
  }
}
@keyframes pause {
  0%, 100% {
    transform: translateX(-18%);
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .mainViewSwiper {
    display: block;
    padding: 0 5%;
  }
  .catchcopy-vertical {
    font-size: 3.4rem;
    writing-mode: horizontal-tb;
    line-height: 2;
    letter-spacing: 0;
    margin-top: 3rem;
  }
}
.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.swiperContainer {
  width: 71.8%;
}
@media only screen and (max-width: 768px) {
  .swiperContainer {
    width: 100%;
  }
}

.swiper {
  width: 100%;
  height: 78rem;
}
@media only screen and (max-width: 768px) {
  .swiper {
    height: 48rem;
  }
}

.swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutSection {
  display: flex;
  justify-content: flex-start;
  margin-top: 6rem;
}
@media only screen and (max-width: 768px) {
  .aboutSection {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .aboutSection__imgWrapper img {
    width: 100%;
    height: auto;
  }
}
.aboutSection__textContainer {
  margin-left: 6rem;
}
@media only screen and (max-width: 768px) {
  .aboutSection__textContainer {
    margin: 3rem 0 0 0;
  }
}

.aboutSection__title {
  font-family: "Oswald";
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

.aboutSection__text {
  margin-top: 4.6rem;
  font-size: 1.6rem;
  line-height: 3.2rem;
}
@media only screen and (max-width: 768px) {
  .aboutSection__text {
    margin-top: 3rem;
    font-size: 1.4rem;
  }
}

.aboutSection__readMore {
  margin-top: 4.6rem;
  text-align: right;
}

.card {
  width: 30%;
  max-width: 335px;
}
@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
    max-width: none;
  }
}

.card__body {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: right;
}

.card__text {
  font-size: 1.6rem;
  line-height: 3.2rem;
  text-align: left;
  margin-bottom: 3rem;
}

.imgWrapper-card {
  position: relative;
}
@media only screen and (max-width: 768px) {
  .imgWrapper-card img {
    width: 100%;
    height: auto;
  }
}

.pictureText {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 3rem);
  height: calc(100% - 5.5rem);
  color: #ffffff;
  text-align: left;
  padding: 5.5rem 0 0 3rem;
}

.serviceNumber {
  font-size: 1.6rem;
  font-weight: bold;
}

.serviceName {
  margin-top: 1.6rem;
  font-size: 2.6rem;
}

.serviceSection {
  margin-top: 12rem;
  padding-bottom: 5.4rem;
}

.serviceSection__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
}
@media only screen and (max-width: 768px) {
  .serviceSection__inner {
    display: block;
  }
}

.serviceSection__title {
  font-family: "Oswald";
  font-size: 7rem;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .serviceSection__title {
    font-size: 3.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .serviceSection__title {
    text-align: left;
  }
}

.list-work a {
  border-bottom: #e2e2e2 solid 1px;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.list-textContainer-work {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .list-textContainer-work {
    margin-left: 1.5rem;
  }
}

.worksDate {
  margin-top: 4rem;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #a9a9a9;
}
@media only screen and (max-width: 768px) {
  .worksDate {
    margin-top: 1rem;
  }
}

.labels-works {
  display: inline-block;
}

.label-works {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  color: #626262;
  background-color: #f3f3f3;
  display: inline-block;
  margin-right: 2rem;
}
@media only screen and (max-width: 768px) {
  .label-works {
    margin-left: 0.8rem;
    font-size: 1rem;
    padding: 0.5rem 1.6rem;
  }
}
@media only screen and (max-width: 768px) {
  .label-works {
    margin-left: 0;
    margin-right: 0.8rem;
    display: none;
  }
  .label-works:first-child {
    display: inline-block;
  }
}

.list__title-work {
  display: inline-block;
  margin-top: 3rem;
  font-size: 1.8rem;
  cursor: pointer;
  line-height: 3.2rem;
  position: relative;
}
.list__title-work::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #000000;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.list__title-work:hover::after {
  transform: scale(1, 1);
}
@media only screen and (max-width: 768px) {
  .list__title-work {
    font-size: 1.4rem;
    padding: 0;
    line-height: 2.8rem;
    margin-top: 1rem;
    width: auto;
  }
}

.list__text-work {
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: #626262;
  line-height: 2.375;
  max-width: 68rem;
}
@media only screen and (max-width: 768px) {
  .list__text-work {
    font-size: 1.4rem;
    padding: 0;
    line-height: 2;
    margin-top: 1rem;
    width: auto;
  }
}

.list-imgContainer-work {
  width: 16rem;
  height: 16rem;
}
.list-imgContainer-work img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.worksSection__title {
  font-family: "Oswald";
  font-size: 7rem;
  animation: slideIn 1s ease;
}
@media only screen and (max-width: 768px) {
  .worksSection__title {
    font-size: 3.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .worksSection__title {
    width: 94.6%;
    margin: auto;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.worksSection__body {
  margin-top: 4rem;
  padding: 0 2.5rem 6rem 0;
  background-color: #ffffff;
  animation: displayeInFluff 1s ease;
}
@media only screen and (max-width: 768px) {
  .worksSection__body {
    padding: 0 2.7% 6rem 2.7%;
    margin: 4rem auto 0 auto;
  }
}

@keyframes displayeInFluff {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.worksSection__link {
  margin-top: 5.3rem;
  text-align: right;
}

.list {
  border-bottom: #e2e2e2 solid 1px;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.newsDate {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #a9a9a9;
}

.newsLabels {
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .newsLabels {
    display: inline;
    margin-left: 1rem;
  }
}

.newsLabel {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  color: #626262;
  background-color: #ffffff;
  display: inline-block;
  margin-left: 2rem;
}
@media only screen and (max-width: 768px) {
  .newsLabel {
    margin-left: 0.8rem;
    font-size: 1rem;
    padding: 0.5rem 1.6rem;
  }
}

.list__text {
  display: inline-block;
  margin-top: 3rem;
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
}
.list__text::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #000000;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.list__text:hover::after {
  transform: scale(1, 1);
}
@media only screen and (max-width: 768px) {
  .list__text {
    font-size: 1.4rem;
    padding-right: 1rem;
    line-height: 2.8rem;
  }
}

.linkTabs {
  padding-left: 2rem;
}
@media only screen and (max-width: 768px) {
  .linkTabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
  }
}

.linkTab {
  display: block;
  margin-bottom: 2.6rem;
  margin-left: 4rem;
  font-size: 1.4rem;
  color: #a9a9a9;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .linkTab {
    display: block;
  }
}

.linkTab.is-active {
  color: #000000;
  position: relative;
}

.linkTab.is-active::before {
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  background-color: #000000;
  top: 0.8rem;
  left: -1.6rem;
}

.newsSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15rem;
}
@media only screen and (max-width: 768px) {
  .newsSection {
    display: block;
    width: 94.6%;
    margin: 6rem auto 0 auto;
  }
}

.newsSection__head {
  flex-basis: 30rem;
}

.newsSection__title {
  font-family: "Oswald";
  font-size: 7rem;
}
@media only screen and (max-width: 768px) {
  .newsSection__title {
    font-size: 3.8rem;
  }
}

.newsSection__linkContainer {
  margin-top: 5rem;
}

.newsSection__body {
  padding-left: 12%;
  border-left: #e2e2e2 solid 1px;
  flex: 1;
}
@media only screen and (max-width: 768px) {
  .newsSection__body {
    padding-left: 3rem;
    border-left: none;
  }
}

.newsSection__readMore {
  text-align: right;
}

.readMoreLink__text,
.readMoreButton__text {
  font-family: "Roboto";
  font-size: 1.4rem;
  color: #001e63;
}

.readMoreLink {
  display: inline-block;
  text-decoration: none;
  background-image: url("../images/readMoreArrow.svg");
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 1rem;
  cursor: pointer;
  position: relative;
}
.readMoreLink::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #000000;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.readMoreLink:hover::after {
  transform: scale(1, 1);
}

.readMoreButton {
  display: inline-block;
  border: solid #001e63 1px;
  border-radius: 0.4rem;
  padding: 1.45rem 3.4rem 1.45rem 2.4rem;
  background-image: url("../images/readMoreArrow.svg");
  background-position: center right 12px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.readMoreButton__text {
  line-height: 1;
  position: relative;
}
.readMoreButton__text::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #000000;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.readMoreButton__text:hover::after {
  transform: scale(1, 1);
}

.footer {
  color: hsl(0, 0%, 100%);
}

.contactMethod {
  border: solid 1px #ffffff;
  padding: 2rem 3.1rem;
  border-radius: 0.4rem;
  max-width: 23.5rem;
  cursor: pointer;
}
.contactMethod:nth-of-type(1) {
  margin-bottom: 2rem;
  position: relative;
}
.contactMethod:nth-of-type(1) span {
  position: relative;
  z-index: 5;
}
.contactMethod:nth-of-type(1) i {
  position: relative;
  z-index: 5;
}
.contactMethod:nth-of-type(1):hover span {
  color: #011950;
}
.contactMethod:nth-of-type(1):hover i {
  color: #011950;
}
.contactMethod:nth-of-type(1):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}
.contactMethod:nth-of-type(1):hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}
.contactMethod:nth-of-type(2) {
  margin-bottom: 2.4rem;
}

@media only screen and (max-width: 768px) {
  .contactMethod {
    border: solid 1px #ffffff;
    padding: 2rem 3.1rem;
    border-radius: 0.4rem;
    max-width: 23.5rem;
  }
  .contactMethod:nth-of-type(1) {
    margin-bottom: 2.5rem;
  }
  .contactMethod:nth-of-type(2) {
    margin-bottom: 1.2rem;
  }
}
.footer__upperContents {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
  background-color: #011950;
}

@media only screen and (max-width: 768px) {
  .footer__upperContents {
    display: block;
  }
  .contactMethod {
    margin: auto;
  }
}
.contactMethod__text {
  font-size: 2.2rem;
  margin-left: 1rem;
}

.textContainer {
  margin: auto;
}

.textContainer__lead {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 8.4rem;
  margin-bottom: 2.4rem;
}

@media only screen and (max-width: 768px) {
  .textContainer {
    padding: 8rem 0;
  }
  .textContainer__lead {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.8rem;
    margin-top: 0;
    margin-bottom: 5rem;
  }
  .officeHours {
    margin-top: 0;
    text-align: center;
    font-size: 1.2rem;
  }
}
.imgWrapper {
  width: 57%;
  height: 44.6rem;
}
.imgWrapper > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .imgWrapper {
    width: 100%;
  }
}
.footer__lowerContents {
  background-color: #001135;
  padding: 5.8rem 9.72% 5.6rem 11.9444%;
}

.footer__lowerContentsInner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .footer__lowerContents {
    padding: 6rem 0 3rem 5rem;
  }
  .footer__lowerContentsInner {
    flex-direction: row;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.footer .logoWrapper {
  width: 63.55%;
}
@media only screen and (max-width: 768px) {
  .footer .logoWrapper {
    width: 11.4rem;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .logoWrapper {
    z-index: 7;
    max-width: 25.8rem;
    min-width: 11.5rem;
  }
  .logoWrapper > img {
    width: 100%;
    height: auto;
  }
}
.snsIconContainer {
  margin-left: 4.6rem;
}

@media only screen and (max-width: 768px) {
  .snsIconContainer {
    margin-left: 0;
    margin-top: 5rem;
  }
}
.sns-icon-custom::before {
  font-size: 2.2rem;
}

.sns-icon-custom:not(:first-child) {
  margin-left: 1.7rem;
}

.logoIconContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .logoIconContainer {
    display: block;
  }
}
.leftContents {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .leftContents {
    margin-top: 6rem;
  }
}
.footerNavigation a {
  font-size: 1.6rem;
  position: relative;
}
.footerNavigation a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #ffffff;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.footerNavigation a:hover::after {
  transform: scale(1, 1);
}
.footerNavigation li:not(:first-child) {
  margin-top: 2.3rem;
}
@media only screen and (max-width: 768px) {
  .footerNavigation li:not(:first-child) {
    margin-top: 2.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .footerNavigation a {
    font-size: 1.4rem;
    font-weight: 400;
  }
}
.copyRight {
  display: inline-block;
  font-size: 1.2rem;
  position: relative;
  top: -2rem;
}
@media only screen and (max-width: 768px) {
  .copyRight {
    top: 0;
    margin-top: 5.6rem;
  }
}/*# sourceMappingURL=top.css.map */