@import "mixin";
@import "fonts";
@import "common";
@import "header";
@import "hamburgerButton";
@import "hamburgerMenu";
@import "mainView";
@import "breadCrumb";
@import "summarySection";
@import "workslists";
@import "linkTabs";
@import "pager";
@import "footer";

.worksMainContents {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 76.39%;
  margin-inline: auto;
  margin-top: 9.6rem;
  margin-bottom: 12rem;

  @include sp {
    margin: 3.2rem auto 3.2rem;
    display: block;
    padding: 3.2rem 6.67% 3.2rem;
  }
}

.worksMainContents__tabs {
  flex-basis: 26rem;
}

.worksMainContents__body {
  flex: 1;
  padding-left: 6rem;
  border-left: #e2e2e2 solid 1px;

  @include sp {
    margin-top: 3.2rem;
    padding: 0;
    border-left: transparent;
  }
}
