@import "mixin";
@import "fonts";
@import "common";
@import "header";
@import "hamburgerButton";
@import "hamburgerMenu";
@import "breadCrumb";
@import "summarySection";
@import "workslists";
@import "linkTabs";
@import "pager";
@import "footer";

.breadCrumbContainer-workDetail {
  margin-top: 10rem;

  @include sp {
    margin-top: 0;
  }
}

.worksDetail {
  display: block;
  margin-inline: auto;
  margin-top: 8rem;
  margin-bottom: 12rem;
  width: 76.39%;

  @include mb {
    width: 94.6%;
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    margin: 9rem auto 8rem;
  }
}

.worksLabels {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.worksDetail__label {
  @include label(#626262, #f3f3f3);
  // margin-right: 1rem;
  // margin-bottom: 1rem;
}

.worksDetail__title {
  margin-top: 2rem;
  font-size: 2.6rem;
  line-height: 1.5;

  @include sp {
    font-size: 1.8rem;
  }
}

.worksDetail__date {
  display: inline-block;
  margin-top: 3.6rem;
  font-size: 1.1rem;
  color: #a9a9a9;

  @include sp {
    margin-top: 2.2rem;
  }
}

.worksDetail__text {
  font-size: 1.6rem;
  line-height: 3.2rem;
  width: 100%;
  max-width: 68rem;
  margin: 4rem auto 0 auto;

  @include sp {
    font-size: 1.4rem;
    line-height: 3.2rem;
  }
}

.worksDetail__imgContainer {
  margin-top: 4rem;
  text-align: center;
}

.worksDetail__imgContainer img {
  width: 100%;
  max-width: 68rem;
  height: auto;
}

.worksDetail__buttonContainer {
  margin-top: 7.5rem;
  text-align: center;

  @include sp {
    margin-top: 4rem;
  }
}

.worksDetail__button {
  color: #001e63;
  font-size: 1.4rem;
  padding: 1.5rem 8rem 1.5rem 10rem;
  border: #001e63 solid 1px;
  border-radius: 4px;
  background-image: url("../img/arrow-before.svg");
  background-repeat: no-repeat;
  background-size: 0.6rem;
  background-position: 8rem center;
  transition: background-position 1s ease-in-out;
}

.worksDetail__button:hover {
  background-position: 6rem center;
}
