@import "mixin";
@import "fonts";
@import "common";
@import "header";
@import "hamburgerButton";
@import "hamburgerMenu";
@import "mainView";
@import "breadCrumb";
@import "summarySection";
@import "workslists";
@import "linkTabs";
@import "pager";
@import "footer";

.worksMainContents {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 76.39%;
  margin-top: 9.6rem;
  margin-bottom: 12rem;
  margin-inline:auto;

  @include tb {
    flex-direction: column;
    width: 94.6%;
    margin: 5.6rem 0;
    margin-inline:auto;
  }
}

.worksMainContents__tabs {
  width: 18%;

  @include tb {
    width: 94.6%;
  }
}

.worksMainContents__body {
  padding-left: 4%;
  width: 96%;
  border-left: #e2e2e2 solid 1px;
  flex: 1;

  @include tb {
    padding-left: 0;
    margin-top: 5.6rem;
    border-left: transparent;
  }
}
